# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/
.env
.venv/
venv/

# =========================
# Environnements
# =========================
.env.*
.env

# =========================
# OS / IDE
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
*.tar
docker-compose.override.yml

# =========================
# Node / Front (si jamais)
# =========================
node_modules/

# =========================
# GCP / gcloud
# =========================
.gcloud/
*.json
*_key.json

# =========================
# Cache divers
# =========================
.cache/
.pytest_cache/

# =========================
# Jupyter (si jamais)
# =========================
.ipynb_checkpoints/
